.forgotPassword {
    width: 20%;
    margin: 4rem 6rem 40rem 6rem;
}

.fgp-p {
    text-align: center;
    color: #111;
    margin: 2.5rem 0;
    font-size: 18px;
    font-weight: normal;
    font-family: var(--font-family);
}

.fgp-form {
    background: #fff;
    padding: 2rem;
}

.fgp-bar { 
    border: 1px solid #f7f7f7;
    padding: 15px 20px;
    transition: 0.2s ease-in-out;
    border-radius: 2px;
    width: 100%;
    margin: 0.5rem 0;
    color: #4b4b4b;
    font-size: 10px;
}

.fgp-btn {
    border: 1px solid #f7f7f7;
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
    border-radius: 2px;
    width: 100%;
    margin: 0.5rem 0;
    background-color: var(--color-text);
    color: #fff; 
}

.fgp-btn:hover {
    background-color: lightgrey;
    color: var(--color-text);
}